.book-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    position: relative;
    margin: 1rem;
}

.book-card .add-to-cart-button,
.book-card .wishlist-button {
    display: none;
}

.book-card:hover .add-to-cart-button,
.book-card:hover .wishlist-button {
    display: inline-block;
}

.image-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    width: 200px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .book-image {
    width: 170px;
    height: 200px;
  }
  
  .book-card-subtitle {
    font-size: 15px;
    margin-bottom: 5px;
    margin: 0;
    color: #393280;
  }
  
  .book-card-author {
    font-size: 13px;
    margin: 0;
    color: #888888;
  }
  
  .book-card-price{
    font-size: 15px;
    font-weight: bold;
    color: #ED553B;
    margin: 0;
  }
  
  .wishlist-button {
    position: absolute;
    padding: 5px;
    top: 0px;
    right: 0px;
    color: #666666;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
    cursor: pointer;
    font-size: 13px;
    transition: background-color 0.3s ease;
  }

  .wishlist-button:hover {
    background-color: rgba(51, 28, 220, 0.8);
    color: #fff;
    font-weight: bold;
  }

  .add-to-cart-button {
    padding: 10px;
    width: 100%;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
    position: absolute;
    top: 170px;
    border: none;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.8);
    color: #666666;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .add-to-cart-button:hover {
    background-color: rgba(51, 28, 220, 0.8);
    color: #fff;
    font-weight: bold;
  }

