@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");


body {
  margin: 0;
    font-family: 'Inter', sans-serif;
    width: 100%;
    height: 100%;
}

.login-container {
  background-image: url(https://media.istockphoto.com/id/1302010598/photo/pen-and-paper.jpg?s=2048x2048&w=is&k=20&c=vd27G3aSg6saHOldPWwwctW4eLCSQr2F_21B_V3BdS8=);
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    padding: 50px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 5px;
    margin: 60px;
}
  
.SecondStory-logo {
  max-width: 150px;
}

h2 {
  margin-bottom: 1.5rem;
  color: #333;
}

.social-login {
  text-align: center;
  
}

.social-icons {
  display: flex;
  justify-content: center;
 
}

.social-icon {
  margin: 0 0.5rem;
  display: inline-block;
}

.social-icon img {
  width: 40px;
  height: 40px;
}



.form-group {
  display: flex;
  flex-direction: column;
}

label {
  color: #555;
}

input[type="email"],
input[type="password"] {
  padding: 0.50rem;
  margin-bottom: 0.50rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 13px;
  width: 300px;
  
}

input[type="text"] {
  padding: 0.50rem;
  margin-bottom: 0.50rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 13px;
  width: none;
  
}


.password-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.show-password-container {
  display: flex;
  align-items: center;
}


.checkbox-container {
  display: flex;
  align-items: center;
}

.checkbox-container input {
  margin-right: 0.5rem;
}

.show-password-text{
  font-size: 10px;
}

.forgot-password {
  text-decoration: none;
  color: #007bff;
  font-size: 0.9rem;
}

.forgot-password:hover {
  text-decoration: underline;
}

.login-button,
.register-button {
  padding: 0.50rem;
  margin: 0.5rem 0;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  max-width: 358px;
}

.login-button {
  background-color: #007bff;
  color: white;
}

.login-button:hover {
  background-color: #0056b3;
}

.register-button {
  background-color: #6c757d;
  color: white;
}

.register-button:hover {
  background-color: #5a6268;
} 


@media (max-width: 768px) {
  .login-container {
    padding: 20px;
  }

  .login-form-container {
    padding: 30px;
    box-shadow: none;
    background-color: rgba(244, 244, 244, 0.9); /* Slightly transparent background */
  }

  input[type="email"],
  input[type="password"] {
    width: 250px;
  }

  input[type="text"] {
    width: none;
    
  }

  .login-button,
  .register-button {
    width: 100%;
  }
  .forgot-password {
    font-size: 10px;
  }
}


@media (max-width: 355px) {
  .login-form-container {
    padding: 20px;
  }

  input[type="email"],
  input[type="password"] {
    width: 200px;
    font-size: 12px;
  }
  input[type="text"] {
    width: none;
    
  }

  .login-button,
  .register-button {
    width: 100%;
    padding: 0.4rem;
    font-size: 0.9rem;
  }
}
