@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");


body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    width: 100%;
    height: 100%;
}

.signup-container {
  background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/arvrbg.png");
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 30px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 5px;
}
  
.SecondStory-logo {
  max-width: 100px;
}

h2 {
  margin-bottom: 1.5rem;
  color: #333;
}

.form-group {
  display: flex;
  flex-direction: column;
}
.form-group-names{
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.form-group-column{
  display: flex;
  flex-direction: column;
}

label {
  color: #555;
  margin-bottom: 0.25rem;
}
input[id="firstName"],
input[id="lastName"] {
  padding: 0.50rem;
  margin-bottom: 0.50rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 13px;
  width: 150px;
}

input[type="email"],
input[type="password"] {
  padding: 0.50rem;
  margin-bottom: 0.50rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 13px;
  width: 340px;
}

input[id="phone"]{
    width: 340px;
}

.show-password-container {
  display: flex;
  align-items: center;
}

.checkbox-container {
  display: flex;
  align-items: center;
}

.checkbox-container input {
  margin-right: 0.5rem;
}

.show-password-text {
  font-size: 10px;
}

.signup-button {
  padding: 0.50rem;
  margin-top: 1rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
  background-color: #007bff;
  color: white;
}

.signup-button:hover {
  background-color: #0056b3;
}

@media (max-width: 500px) {
    .SecondStory-logo {
        max-width: 50px;
      }
    .signup-form-container {
        padding: 20px;
    }
    .social-icon img {
        width: 30px;
        height: 30px;
    }
      .form-group-names{
        display: flex;
        flex-direction: column;
        gap: 0;
      }

      input[id="firstName"],
      input[id="lastName"] {
        border-radius: 5px;
        font-size: 13px;
        width: 300px;
      }
      
      input[type="email"],
      input[type="password"] {
        border-radius: 5px;
        font-size: 13px;
        width: 300px;
      }
      
      input[id="phone"]{
          width: 300px;
      }
}

@media (max-width: 400px) {

    .SecondStory-logo{
        display: none;
    }
    .signup-form-container {
        padding: 20px;
    }
      input[id="firstName"],
      input[id="lastName"] {
        border-radius: 5px;
        font-size: 12px;
        width: 200px;
      }
      
      input[type="email"],
      input[type="password"] {
        font-size: 12px;
        width: 200px;
      }
      
      input[id="phone"]{
          width: 200px;
      }
}

.phone-group {
  display: flex;
  align-items: center;
}

.country-code-dropdown {
  width: 120px;
  margin-right: 10px;
  display: none;
}

