.main{
    padding: 150px 5%;
    background: linear-gradient(to bottom, #dfdfdf, #ffffff); 
    padding-top: 50px;
    width: 100%;
    
}
.heading{
    margin-bottom: 80px;
    font-weight: bold;
    letter-spacing: 1.4px;
}
.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container .glass {
    position: relative;
    width: 180px;
    height: 200px;
    background: linear-gradient(#fff2, transparent);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border-radius: 10px;
    margin: 0 -45px;
    backdrop-filter: blur(10px);
    transform: rotate(calc(var(--r) * 1deg));
  }
  
  .container:hover .glass {
    transform: rotate(0deg);
    margin: 0 2%;
  }
  
  .container .glass::before {
    content: attr(data-text);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background: rgba(255, 255, 255, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #010101;
  }
  .container .glass img {
    font-size: 2.5em;
    fill: #000000;
    height: 120px;
    width: auto;
  }
@media screen and (max-width: 768px){
    .container .glass img {
        font-size: 2em;
        fill: #000000;
        height: 80px;
        width: auto;
      }
      .container .glass {
        width: 120px;
        height: 140px;
        font-size: 0;
        
      }
      .heading{
        margin-bottom: 50px ;
      }
  
}
  