body{
  font-family: 'inter', sans-serif;
}
.address-box {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    background-color: #f9f9f9;
    margin-top: 6%;
    margin-left: 8%;
    width: 50%;
    height: 30%;
    align-items: row;
    display: flex;
    flex-direction: row;
  }

  .address-box .button-box{ 
    width: 30%;
    margin-left: 50%;
    margin-top: 5%;
  }
  
  .address-box h2 { 
    margin-bottom: 15px;
    color: #333;
    font-size: 100%;
    width: 200%;
  }
  
  .address-box p {
    margin: 5px 0;
    font-size:small;
  }
  
  .address-box .button {
    padding: 5%;
    font-size: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
  }
  
  @media (max-width: 480px){
    .address-box{
      margin-top: 20%;
      width: 100%;
      margin-left: 0%; 
    }

    .address-box .button{
      width: 100%;
      margin-top: 5%;
    }
  }