body {
  font-family: 'Inter', sans-serif;
  background: rgb(234, 233, 233);
}

.cart-item{
    display: flex;
    margin: 20px 0;
}

.cart-container { 
  max-width: 50%;
  margin-left: 8%;
  margin-top: 1%;
  padding: 1px;
  border: 1px solid #ccc;
  border-radius: 10px; 
  background-color: white; 
}

.cart-container h1 {
  font-weight: normal;
  font-size: 120%;
  padding: 2%;
  margin-left: 2%; 
  margin-top: 2%; 
}

.cart-container hr {
  margin-left: 3%;
  margin-right: 3%;
}

.cart-item img {
  width: 20%;
  height: 30%;
  padding-left: 5%;
  padding-top: 1%;
}


.order-summary {
  margin-top: 20px;
  position: fixed; 
  right: 10%;
  top: 14%; 
  width: 300px; 
  border: 1px solid #ccc; 
  border-radius: 10px; 
  background-color: white;
}

.summary-details h4{
  font-size: 100%;
}

.summary-details {
  padding: 20px;
}

.summary-details p{
  font-size: 80%;
}
.summary-details input{
  width: 40%;
  height: 20%;
}

.ButtonA {
  display: block;
  width: 40%;
  padding: 5px;
  margin-top: 5px;
  background-color: green;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 30%;
}

.ButtonA:hover {
  background-color: rgb(55, 209, 55);
}

.item-details{
  display: inline-block;
  position: relative;
  margin-inline-start: 5%;
  vertical-align: top;
  margin-top: 2%;
  width: 30%;
}

.item-details h2{
  color: black;
  font-size: 100%;
  font-weight: 200%;
  margin-left: 10%;
  margin-bottom: 15%;
}

.item-details p{
  color: rgb(49, 28, 28);
  margin-left: 10%;
  line-height:0%;
  padding: 1%;
  font-size: 80%;
}

.item-details h3{
  margin-left: 10%; 
  font-size: 80%;
  margin-top: 5%;
  font-weight: bold;
  display: inline-flex;  
}

.cart-item button{
  margin-left: 25%;
}

.item-details h3 {
  margin-left: 10%;
  font-size: 80%;
  margin-top: 5%;
  font-weight: bold;
  display: inline-flex;
  width: 100%;
  margin-right: 100px;
}

.original-price {
  text-decoration: line-through;
  color: rgb(105, 104, 104);
  margin-right: 8px;
  margin-left: 5px;
  font-weight: lighter;
}

.discounted-price {
  color: black;
  font-weight: bold;
  font-size: 100%; 
}
  



.cart-item .icon-button {
background: none;
cursor: pointer;
border: none;

}

.cart-item .icon-button:focus {    
outline: none;
}  

@media (max-width: 480px) {
  .cart-container {
    max-width: 100%;
    margin-left: 0;
    margin-top: 2%;
    padding: 5px;
  }

  .cart-container h1 {
    font-size: 100%;
    padding: 1%;
    margin-left: 1%;
  }

  .cart-container hr {
    margin-left: 5%;
    margin-right: 5%;
  }

  .cart-item img {
    width: 20%;
    height: auto;
    padding-left: 5%;
    padding-top: 5%;
  }

  .cart-item{
    width: 100%;
  }

  .item-details{
    width: 40%;
  }



  .order-summary {
    position: static; 
    width: 100%; 
    margin: 5% 0;
  }

  .summary-details {
    padding: 5px;
  }

  .summary-details h4 {
    font-size: 80%;
  }

}
