/* Market container */
.market {
  padding: 20px;
  min-height: 100vh;
  margin-top: 10px;
}

/* Title styling */
.market-heading {
  text-align: center;
  margin-top: 80px;
  color: #393280;
  font-size: 18px;
  background-color: #FFE5E5;
  padding: 20px;
}

/* Flex container for the filter */
.market-flexstart {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.book-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}


