body{
  font-family: 'inter', sans-serif;
}

.modal {
    position: fixed;
    top: 10%;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    max-width: 90%;
    margin-top: 50%;
    bottom: 10%;
    margin-top: 20%;
  }
  
  .modal-content h2 {
    margin-bottom: 10px;
    color: #333;
    font-size: medium;
  }
  
  .modal-content .modal-body {
    margin-bottom: 20px;
  }
  
  .modal-content .modal-body label {
    display: block;
    margin-bottom: 10px;
    font-size: small;
  }
  
  .modal-content .modal-body input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: smaller;
  }
  
  .modal-content .modal-footer {
    display: flex;
    justify-content: flex-end;
  }
  
  .modal-content .modal-footer .button {
    padding: 10px 15px;
    font-size: 12px;  
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .modal-content .modal-footer .button:not(:last-child) {
    margin-right: 10px;
  }
  
  .modal-content .modal-footer .save-button {
    background-color: #007bff;
    color: white;
  }
  