/* Container styling */
.password-manager-container {
    max-width: 900px; 
    margin: auto;
    padding: 20px 100px;
    background-color: #f4f4f4;
    border-radius: 10px;
    font-family: 'Arial', sans-serif;
  }

.password-manager {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .password-input-container {
    position: relative;
  }
  
  .password-input-container input {
    width: 100%;
    padding: 10px 40px 10px 10px; /* Adjust padding to make space for the icon */
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #aaa;
  }
  
  .toggle-password:hover {
    color: #000;
  }
  
  .update-password-button {
    width: 100%;
    padding: 10px;
    background-color: #000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .update-password-button:hover {
    background-color: gray;
  }
  
  .alert {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
  }


  @media (max-width: 768px) {
    .password-manager-container {
      
      padding: 0;
      background-color: white;
     
    }
  }
  